// ---------------------------------- FLEX
@mixin flexRow( $jc, $ai ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flexCol( $jc, $ai ) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}
// ---------------------------------- FLEX

@mixin font( $size, $weight ) {
    font-size: $size;
    font-weight: $weight;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}


// ---------------------------------- VARS

// ---------------------------------- VARS
$main-color: #275179;
$main-hover: rgba(46, 115, 179, 0.5);
$main-border: 2px solid $main-color;
$main-border-radius: 4px;

// ---------------------------------- CLASS
.load-class {
    @include flexRow( center, center );
    @include font( 13px, normal );
    height: 30px;
    width: calc( 10px * v-bind( buttonSize ) );
    border: $main-border;
    border-radius: $main-border-radius;
    outline: none;
    color: $main-color;
    background-color: $main-hover;
}
// ---------------------------------- CLASS