// ---------------------------------- FLEX
@mixin flexRow( $jc, $ai ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flexCol( $jc, $ai ) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}
// ---------------------------------- FLEX

// -------------------------- OTHER MIXINS
@mixin font( $size, $weight ) {
    font-size: $size;
    font-weight: $weight;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}


@mixin btn( $size ) {
    @include flexRow( center, center );
    @include font( 13px, normal );
    height: 34px;
    margin: 0px 4px;
    width: calc( 10px * $size );
    border: $main-border;
    border-radius: $main-border-radius;
    outline: none;
    color: $main-color;
    background-color: $main-hover;
    box-shadow: $main-shadow;
}
// -------------------------- OTHER MIXINS

// ---------------------------------- VARS
    $main-wrapper: rgba(7, 28, 61, 0.6);
    $main-flatdrop: #4680b6;
    $main-red: #910a0a;
    $main-white: #fdfdfd;
    $main-color: #275179;
    $main-hover: #2e73b380;
    $main-backdrop: #a3b9cc80;
    $main-border: 2px solid $main-color;
    $main-border-tr: 2px solid transparent;
    $main-border-radius: 4px;
    $main-shadow: 0px 0px 6px 1px $main-hover;
// ---------------------------------- VARS

// ---------------------------------- CLASS
.backdrop {
    @include flexRow( center, flex-start );
    z-index: 20;
    padding: 5px 5px;
    margin: 3px;
    border-radius: $main-border-radius;
}
.flatdrop {
    @include flexRow( space-between, flex-start );
    width: auto;
    margin: 0px 0px 0px 5px;
}

.drop-margin {
    @include font( 13px, normal );
    height: 30px;
    padding: 0px 10px;
    margin: 0px 0px;
    border: $main-border;
    border-radius: $main-border-radius;
    outline: none;
    color: $main-color;
    box-shadow: $main-shadow;

    &::placeholder {
        color: $main-color;
    }

    &:hover {
        background-color: $main-hover;
        color: $main-white;

        &::placeholder {
            color: $main-white;
        } 
    }

    &:focus {
        background-color: $main-hover;
        color: $main-color;
        background-color: $main-white;
    }
}

.active-tab {
    height: 34px;
    padding: 5px;
    background-color: $main-hover;
    border: none;
    border: $main-border;
    outline: none;
    color: $main-white;
  }

  .warning-text {
    @include flexRow( flex-stsrt, flex-stsrt ); 
    color: $main-red;
    margin-top: 4px;
    height: 20px;
    width: 100%;
    @include font ( 10px, normal );
  }

  .head-text {
    @include font( 16px, normal );
    height: 20px;
    width: calc( 100% + 20px );
    margin-bottom: 20px;
    color: $main-color;

    @media screen and ( max-width: 1440px ) {
        height: 15%;
        margin-bottom: 10px;
    }

  }
// ---------------------------------- CLASS