// ---------------------------------- FLEX
@mixin flexRow( $jc, $ai ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flexCol( $jc, $ai ) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}
// ---------------------------------- FLEX

@mixin font( $size, $weight ) {
    font-size: $size;
    font-weight: $weight;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}


// ---------------------------------- VARS

// ---------------------------------- VARS
$main-white: #fdfdfd;
$main-color: #275179;
$main-hover: #2e73b380;
$main-backdrop: #a3b9cc80;
$main-border: 2px solid $main-color;
$main-border-tr: 2px solid transparent;
$main-border-radius: 4px;
$main-shadow: 0px 0px 6px 1px $main-hover;

// ---------------------------------- CLASS
.backdrop {
    @include flexRow( center, flex-start );
    z-index: 10;
    padding: 10px 10px;
    margin: 10px;
    border-radius: $main-border-radius;
    background-color: $main-backdrop;
}

.load-class {
    @include flexRow( center, center );
    @include font( 13px, normal );
    height: 34px;
    margin: 0px 4px;
    width: calc( 10px * v-bind( buttonSize ) );
    border: $main-border;
    border-radius: $main-border-radius;
    outline: none;
    color: $main-color;
    background-color: $main-hover;
    box-shadow: $main-shadow;
}

.drop-margin {
    @include font( 13px, normal );
    height: 30px;
    padding: 0px 10px;
    margin: 0px 0px;
    border: $main-border;
    border-radius: $main-border-radius;
    outline: none;
    color: $main-color;
    box-shadow: $main-shadow;

    &::placeholder {
        color: $main-color;
    }

    &:hover {
        background-color: $main-hover;
        color: $main-white;

        &::placeholder {
            color: $main-white;
        } 
    }

    &:focus {
        background-color: $main-hover;
        color: $main-color;
        background-color: $main-white;
    }
}

.active-tab {
    height: 34px;
    padding: 5px;
    background-color: $main-hover;
    border: none;
    border: $main-border;
    outline: none;
    color: $main-white;
  }
// ---------------------------------- CLASS